NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_MONAD_CHAIN_ID=10143
NEXT_PUBLIC_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_HUMANPASS_CONTRACT_ADDRESS=
VERIFIER_PRIVATE_KEY=
HUMANPASS_DEFAULT_DURATION_SECONDS=600
HUMANPASS_MAX_DURATION_SECONDS=900
